Call Option

In [28]:
# A is number of bound
A = [100 110]

# S is shared stock
S₀ = 100
S₁ = [ 120 80 ]

println("A is number of bound")
println("A = $A\n")
println("S is shared stock")
println("S₀ = $S₀, S₁ = $S₁")

A is number of bound
A = [100 110]

S is shared stock
S₀ = 100, S₁ = [120 80]

In [26]:
# Pay off call option at time 1
## [if stock goes up, goes down]
C₁ = ["120 - 100" "80 - 100"]

println("C₁ is Pay off call option at time 1:")
println("C₁ = $C₁ by [stock goes up, goes down]\n")
println("-20 turn to 0, then")
C₁ = [20 0]
println("C₁ = $C₁")

C₁ is Pay off call option at time 1:
C₁ = ["120 - 100" "80 - 100"] by [stock goes up, goes down]

-20 turn to 0, then
C₁ = [20 0]

In [25]:
println("**Replicate of Option**")
println("The time 1 value of invest in stock and bound will be")
println("xS₁ + yA₁ = C₁")

M = [S₁[1] A[2]; S₁[2] A[2]]
println("Then, C₁ = $M")

**Replicate of Option**
The time 1 value of invest in stock and bound will be